@model Library.Models.Books
<h4>
    Especialidad
</h4>

<div>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly"></div>
        <input type="hidden" asp-for="Id">
        <div>
            <label asp-for="Name"></label>
            <input asp-for="Name" />
            <span asp-validation-for="Name"></span>
        </div>
        <div>
            <label asp-for="Publisher"></label>
            <input asp-for="Publisher" />
            <span asp-validation-for="Publisher"></span>
        </div>
        <div>
            <label asp-for="Area"></label>
            <input asp-for="Area" />
            <span asp-validation-for="Area"></span>
        </div>
        <div>
            <input type="submit" value="Grabar">
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>