@model IEnumerable<Library.Models.Student>


 <!DOCTYPE html>
<p>
    <a asp-action="Create">Nuevo</a>
</p>
<table>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @*Aqui colocaremos mas adelante para mostrar los registros de la base de datos*@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelITem=> item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            </tr>
        }          
    
    </tbody>
</table>